<div class="keyboard__container">
  <div class="keyboard">
    <button class="btn btn--keyboard" (click)="onPressNumber('1')">1</button>
    <button class="btn btn--keyboard" (click)="onPressNumber('2')">2</button>
    <button class="btn btn--keyboard" (click)="onPressNumber('3')">3</button>
    <button class="btn btn--keyboard" (click)="onPressNumber('4')">4</button>
    <button class="btn btn--keyboard" (click)="onPressNumber('5')">5</button>
    <button class="btn btn--keyboard" (click)="onPressNumber('6')">6</button>
    <button class="btn btn--keyboard" (click)="onPressNumber('7')">7</button>
    <button class="btn btn--keyboard" (click)="onPressNumber('8')">8</button>
    <button class="btn btn--keyboard" (click)="onPressNumber('9')">9</button>
    <button class="btn btn--keyboard">.</button>
    <button class="btn btn--keyboard" (click)="onPressNumber('0')">0</button>
    <button class="btn btn--keyboard" (click)="onPressNumber('d')">D</button>
  </div>
  <div *ngIf="!showInOrRemCard" class="card" routerLink="/login" (click)="onInsertCard()">
    <div class="card--content">
      <h2 class="card--text">Insert Card <span class="text-arrow">&larr;</span></h2>
    </div>
  </div>
  <div *ngIf="showInOrRemCard" class="card" routerLink="" (click)="onRemoveCard()">
    <div class="card--content">
      <h2 class="card--text">Remove Card </h2>
    </div>
  </div>
</div>
