.keyboard__container {
  display: grid;
  grid-template-columns: minmax(auto, 300px) 1fr;
  padding: 0 1rem;
  grid-gap: 20px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.btn {
  padding: 1rem;
  border:none;
}

.btn--keyboard {
  background: var(--yellow-color);
  color: #fff;
  padding: 1.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor:pointer;
  transition: all ease-in-out .2s;
}

.btn--keyboard:hover {
  box-shadow: 0 10px 20px #ffdf5d;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
}

.cc {
  cursor: pointer;
  background-color:#e1e1e1;
  display:grid;
  grid-template-columns: 60% auto;
  grid-template-rows: repeat(3, 50px);
  grid-template-areas: 'img text'
                       'number icon'
                       'date icon';
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid #e1e1e1;
  transition: .2s ease-in-out;
  position: relative;
}

.cc:hover {
  transform: scale(1.03);
  border: 1px solid gray;
}

.cc-active:hover {
  transform: scale(1);
  border: 4px solid rgb(132, 148, 202);
}

.cc-active {
  border: 4px solid rgb(132, 148, 202);
}

.cc-img{
  width: 60px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  margin-bottom: 15px;
  grid-area: img;
}

.cc-img-main {
  width: 60px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  margin-bottom: 15px
}

.cc-num {
  margin-top: 1rem;
  font-size: 15px;
  color: #333;
  width:100%;
  grid-area: number;
}

.cc-date {
  color: #333;
  width: 100%;
  margin-right:0;
  grid-area: date;
}

.cc-text {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  left: -30px;
}

.cc-icon {
  background: url('../../../assets/img/eject.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display:inline-block;
  position: absolute;
  width: 65px;
  height: 100px;
  grid-area: icon;
  animation-name: icon-bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.visa .cc-img,
.visa .cc-img-main {
  background-image: url("http://i.imgur.com/xYX6Tsy.png")
}


@keyframes icon-bounce {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

@media (max-width: 1125px) {
  .cc-text {
    left: 0;
  }
}
