<div class="keyboard__container">
  <div class="keyboard">
    <button class="btn btn--keyboard">1</button>
    <button class="btn btn--keyboard">2</button>
    <button class="btn btn--keyboard">3</button>
    <button class="btn btn--keyboard">4</button>
    <button class="btn btn--keyboard">5</button>
    <button class="btn btn--keyboard">6</button>
    <button class="btn btn--keyboard">7</button>
    <button class="btn btn--keyboard">8</button>
    <button class="btn btn--keyboard">9</button>
    <button class="btn btn--keyboard">.</button>
    <button class="btn btn--keyboard">0</button>
    <button class="btn btn--keyboard">.</button>
  </div>
  <div class="card">
    <div class="card--insert">
      <div class="cc visa">
        <div class="cc-img-main"></div>
        <div class="cc-text">Insertar Targeta</div>
        <div class="cc-icon"></div>
        <div class="cc-num">**** **** **** 2562</div>
        <div class="cc-date">Valid Thru: 12/17</div>
      </div>
    </div>
  </div>
</div>
