<div class="keyboard__container">
  <div class="keyboard">
    <button class="btn btn--keyboard" (click)="onPressNumber(1)">1</button>
    <button class="btn btn--keyboard" (click)="onPressNumber(2)">2</button>
    <button class="btn btn--keyboard" (click)="onPressNumber(3)">3</button>
    <button class="btn btn--keyboard" (click)="onPressNumber(4)">4</button>
    <button class="btn btn--keyboard" (click)="onPressNumber(5)">5</button>
    <button class="btn btn--keyboard" (click)="onPressNumber(6)">6</button>
    <button class="btn btn--keyboard" (click)="onPressNumber(7)">7</button>
    <button class="btn btn--keyboard" (click)="onPressNumber(8)">8</button>
    <button class="btn btn--keyboard" (click)="onPressNumber(9)">9</button>
    <button class="btn btn--keyboard">.</button>
    <button class="btn btn--keyboard" (click)="onPressNumber(0)">0</button>
    <button class="btn btn--keyboard" (click)="onDelNumber()">DEL</button>
  </div>
  <div class="card">
    <div
      class="card--insert">
      <div
        class="cc visa"
        (click)="onInsertCard()">
        <div class="cc-img-main"></div>
        <div class="cc-text">Insert Card</div>
        <div class="cc-icon"></div>
        <div class="cc-num">**** **** **** 2562</div>
        <div class="cc-date">Valid Thru: 12/17</div>
      </div>
    </div>
  </div>
</div>
