<div class="menu">
  <div class="account__info">
    <div class="account--owner">
      <label for="" class="welcome"></label>
      <h2>john doe</h2>
    </div>
    <div class="account--balance">
      <label for="" >Balance</label>
      <h2>$2.380</h2>
    </div>
  </div>
  <div class="account__action">
    <div
      class="acc deposit"
      [routerLink]="['/deposit']">
      Deposit
    </div>
    <div
      class="acc withdraw"
      [routerLink]="['/withdraw']">
      Withdraw
    </div>
    <div class="acc transactions">
      Transactions
    </div>
    <div class="acc change--password">
      Change Password
    </div>
  </div>
</div>
