<main class="container__areas">
  <div class="right__area">
    <div *ngIf="!showScreen">
      <h2>Welcome to InterBank!</h2>
      <h3>
        ATM's Solutions
      </h3>
    </div>
    <router-outlet></router-outlet>

    <!-- <app-screen *ngIf="showScr een" class="right__area"></app-screen> -->
  </div>

  <app-keyboard
    (showLogin)="onShowLogin($event)"
    class="rightB__area"></app-keyboard>
  <div class="left__area">
    <h1 class="super__text">
      You ask, We solve!
      <!-- <span class="element"></span> -->
    </h1>
    <div class="logo">

    </div>
  </div>
</main>
