h2 {
  font-size: 3rem;
  text-align:center;
  color: #7118f9;
  vertical-align: middle;
}

h3 {
  font-size: 2rem;
  text-align:center;
  font-weight: 100;
  margin-top: 6rem;
  color: #7118f9;
}

.super__text {
  font-size: 5rem;
  color: #fff;
  grid-area: top;
}

.logo {
  grid-area:bottom;
  /* position: absolute;; */
  margin-left: 90px;
  background: url(../../assets/img/fingerprint.svg), bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 100%;
}



@media (max-width: 830px) {
  .super__text {
    font-size: 3rem;
  }
}
