<h2 class="heading">Please Insert your credentials.</h2>
<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="" class="login--label">ID</label>
    <input
      type="text"
      [ngStyle]="{border: checkIdInput === true? '2px solid #ffd739' : '2px solid var(--blue-color'}"
      readonly
      class="login--input"
      formControlName="id"
      (click)="onSelect('id')"
      [(ngModel)]="fillInputId"
      >
    <p
      class="error--p"
      *ngIf="!loginForm.get('id').valid && loginForm.get('id').touched"> This Field is required!</p>
    <label for="" class="login--label">Password</label>
    <input
      type="password"
      readonly
      class="login--input"
      [ngStyle]="{border: checkPwInput === true? '2px solid #ffd739' : '2px solid var(--blue-color'}"
      [(ngModel)]="fillInputPw"
      formControlName="password"
      (click)="onSelect('password')">
    <div class="error--p" *ngIf="logIn === false">ID or Password Wrong please check your credentials!</div>
    <button type="submit"  [disabled]="!loginForm.valid" class="login--btn">
      <span>Validate</span>
    </button>
  </form>
</div>
