/* You can add global styles to this file, and also import other style files */
:root {
  --yellow-color: #ffd739;
  --lightPurple: #c299fc;
  --blue-color: #6807f9;
}

@font-face {
  font-family: 'Mont';
  src: url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ddd;
  font-family: 'Mont', sans-serif;
}

.container__areas {
  display: grid;
  grid-template-columns: minmax(auto, 370px) 1fr;
  grid-template-rows: 450px 400px;
  grid-template-areas: 'left right'
                        'left rightB';
}

.left__area {
  background: linear-gradient(to bottom, hsl(264, 95%, 54%), hsl(276, 98%, 52%));
  grid-area: left;
  padding: 1rem;
  display:grid;
  grid-template-rows: 1fr 285px;
  grid-template-areas: 'top' 'bottom';
}

.right__area {
  background: #fff;
  grid-area: right;
  padding: 1rem;
}

.rightB__area {
  background: #fff;
  grid-area: rightB;
  padding: 1rem;
}

.showCase {
  animation-name: show;
  animation-duration: 2s;
}

.select {
  border: 2px solid rgb(0, 202, 78);
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
